* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
}

body {
    background-color: #fff;
    box-sizing: border-box;
    margin: 0;
    list-style: none;
}

li {
    list-style: none !important; 
}

a {
    text-decoration: none !important;
}

ul {
    padding-left: 0 !important;
}
.container {
    max-width: 1312px;
    margin: 0 auto;
    padding: 0 16px;
}

.container__header {
    max-width: 1600px;
}

.header {
    // position: fixed;
    // top: 0;
    // z-index: 999;
    width: 100%;
    height: 153px;
    max-height: 153px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    &__nav {
        li.header__nav a {
            transition: .3s;
        }
        .header__basket {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../img/basket.svg);
            width: 16.11px;
            height: 22px;
            margin-bottom: 11px;
        }
        li.header__nav a:hover {
            color: #2D2661;
        } 
        .header__basket {
            align-items: center;
            justify-content: center;
            font-family: Open Sans;
            font-style: normal !important;
            font-weight: 800 !important;
            font-size: 9px !important;
            line-height: 32px !important;
            color: #F7F6F9 !important;
            padding-top: 3px;
        }
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            li {
                list-style: none;
                &:not(:last-child) {
                    margin-right: 30px;
                }
                a:not(a.header__logo) {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 32px;
                    display: flex;
                    align-items: center;
                    letter-spacing: 0.2px;
                    text-transform: uppercase;
                    color: #737373;
                    text-decoration: none;
                }
            }
        }
    }
    &__logo {
        display: block;
    }

    .header__language {
        display: flex;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 32px;
        color: #2D2661;
    }

    .header__language p {
        display: flex;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 32px;
        color: #737373;
        transition: .3s;
    }

    .header__language p:hover {
        color: #2D2661;
    }

    .header__language p:first-child{
        margin-right: 10px; 
        color: #2D2661;
    }
    
    li.header__nav:first-child {
        margin-right: 50px !important;
    } 
    li.header__nav:last-child {
        margin-left: 20px !important;
        justify-content: flex-start;
    } 

    li.header__nav {
        display: flex;
        min-width: 575px;
        justify-content: flex-end;
    }

    li.header__nav a:not(:last-child) {
        margin-right: 30px;
    }

    &__right {
        display: flex;
        margin-left: 98px;
        align-items: center;
    }
}

.main {
    width: 100%;
    min-height: 747px;
    // margin-top: 153px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__banner {
        width: 100%;
        height: auto;
    }
    &__info {
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 625px;
        position: absolute;
    }
    &__title {
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 42px;
        line-height: 32px;
        letter-spacing: 0.2px;
        color: #FFFFFF;
    }
    &__text {
        font-family: Open Sans;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 32px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        width: 530px;
        margin-top: 20px
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        width: 290px;
        height: 70px;
        left: 656px;
        color: #fff;
        background: #2D2661;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;
    }
}

.container__success {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #2D2661;
    img {
        width: auto;
        max-width: 100%;
    }
    
    .info {
        max-width: 715px;
        margin: 0 auto;
        &__green {
            color: #51B801;
        }
        &__red {
            color: #FF3A2E;
        }
    }
    .info__dont__sucsses {
        max-width: 796px;
    }
}

.services {
    background: rgba(45, 38, 97, 0.04);
    &__title {
        padding-top: 170px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 38px;
        line-height: 44px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #2D2661;
        margin-bottom: 70px;
    }
    .cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 170px;
    }
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 298px;
        text-align: center;
        &__img {
            margin-bottom: 16px;
        }
        &__title {
            margin-bottom: 10px;
            font-family: Open Sans;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0.2px;
            color: #2D2661;
        }
        &__text {
            margin-bottom: 20px;
            font-family: Open Sans;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 30px;
            color: #272727;
        }
        &__button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 297px;
            height: 50px;
            background: #2D2661;
            font-family: Open Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 18px;
            letter-spacing: 0.3px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
}

.advantages {
    &__title {
        padding-top: 170px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 38px;
        line-height: 44px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #2D2661;
        margin-bottom: 70px;
    }
    .cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 170px;
    }
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 298px;
        text-align: center;
        &__img {
            margin-bottom: 16px;
        }
        &__title {
            margin-bottom: 10px;
            font-family: Open Sans;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0.2px;
            color: #2D2661;
        }
        &__text {
            margin-bottom: 20px;
            font-family: Open Sans;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 30px;
            color: #272727;
        }
        &__button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 297px;
            height: 50px;
            background: #2D2661;
            font-family: Open Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 18px;
            letter-spacing: 0.3px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
}

.work {
    background: rgba(45, 38, 97, 0.04);
    &__title {
        padding-top: 170px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 38px;
        line-height: 44px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #2D2661;
        margin-bottom: 70px;
    }
    .controll {
        display: flex;
        position: absolute;
        z-index: 20;
        top: 240px;
        right: 40px;
    }
    .controll .prev {
        background-image: url(../img/next.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
        transform: rotate(180deg);
    }
    .controll .next {
        margin-left: 28px;
        background-image: url(../img/next.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
        transform: rotate(0deg);
    }
    .cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 170px;
    }
    .slick-track {
        height: 100%;
    }
    .container__services {
        position: relative;
    }
    .slick-dots li button:before {
        width: 16px !important;
        height: 16px !important;
        font-family: 'slick';
        font-size: 16px !important;
        line-height: 20px;
        top: 0;
        left: 0;
        content: '•';
        text-align: center;
        opacity: .25;
        color: #2D2661;
    }

    .slick-track .card.slick-slide {
        margin-right: 31.5px !important;
    }
    .slick-dots {
        position: initial;
        margin-top: 35px;
    }
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 298px;
        text-align: center;
        &__img {
            margin-bottom: 16px;
            min-height: 390px !important;
            width: 100%;
        }
        &__title {
            margin-bottom: 10px;
            font-family: Open Sans;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0.2px;
            color: #2D2661;
        }
        &__text {
            height: 100%;
            padding: 16px;
            background: #fff;
            margin-bottom: 20px;
            font-family: Open Sans;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 30px;
            color: #272727;
        }
        &__button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 297px;
            height: 50px;
            background: #2D2661;
            font-family: Open Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 18px;
            letter-spacing: 0.3px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
}

.question {
    &__title {
        padding-top: 170px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 38px;
        line-height: 44px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #2D2661;
        margin-bottom: 70px;
    }
    .question__answer {
        margin-bottom: 153px;
    }
    .qusetion__item {
        margin-bottom: 16px;
        .item--visible{
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 100px;
            background: #F7F6F9;
            align-items: center;

            font-family: Open Sans;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            color: #2D2661;
            p.item__title {
                padding-left: 20px;
            }
            span.question__icon {
                display: block;
                width: 28px;
                height: 28px;
                margin-right: 20px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            span.question__plus {
                background-image: url(../img/plus.svg);
            }
        }
        .item--hidden {
            display: none;
        }
    }
}

.form {
    &__title {
        padding-top: 170px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 38px;
        line-height: 44px;
        letter-spacing: 0.2px;
        color: #2D2661;
        margin-bottom: 70px;
    }
    background: rgba(45, 38, 97, 0.04);
    .container__form {
        max-width: 1600px;
        padding: 0;
        display: flex;
    }

    .left__img {
        max-width: 633px;
        width: 100%;
    }
    .right__form {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-right: 160px;
        margin-left: 152px;
        #questionFrom {
            width: 100%;
            .form-field:not(:last-child) {
                margin-bottom: 54px;
            }
            .form-field:last-child {
                margin-bottom: 50px;
            }
            label {
                font-family: Open Sans;
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 24px;
                display: flex;
                align-items: center;
                letter-spacing: 0.2px;
                text-transform: uppercase;
                color: #272727;
            }
            input {
                width: 100%;
                height: 20px;
                background-color: inherit;
                border: none;
                border-bottom: 1px solid #737373;
                text-transform: uppercase;
                color: #272727;
            }
            .form__btn {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 50px;
                width: 290px;
                height: 70px;
                color: #fff;
                background: #2D2661;
                font-weight: bold;
                font-size: 16px;
                line-height: 18px;
                cursor: pointer;
            }
        }
    }
}

.footer {
    background-color: #fff;
    .conteiner__footer {
        display: flex;
        justify-content: space-between;
        .left__info {
            margin-top: 94px;
            img {
                margin-bottom: 40px;
            }
            .footer__requisites {
                &__title {
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 22px;
                    color: #272727;
                    margin-bottom: 13px;
                }
                ul {
                    li {
                        font-family: Open Sans;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 22px;
                        color: #272727;
                    }
                    li:not(:last-child) {
                        margin-bottom: 10px;
                    }
                }
            }
        }
        .right__info {
            display: flex;
            margin-right: 158px;
            margin-top: 123px;
            .footer__company {
                margin-right: 60px;
                &__title {
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 32px;
                    color: #272727;
                    margin-bottom: 30px;
                }
                ul {
                    li {
                        margin-bottom: 16px;
                        a{
                            font-family: Open Sans;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 32px;
                            color: #272727;
                        }
                    } 
                }
            }
            .footer__social {
                width: 140px;
                &__title {
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 32px;
                    color: #272727;
                    margin-bottom: 30px;
                }
                ul {
                    li:not(:first-child) {
                        margin-bottom: 16px;
                        a{
                            font-family: Open Sans;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 32px;
                            color: #272727;
                        }
                    } 
                }
            }
           
            ul.footer__social__items {
                display: flex;
                justify-content: space-between;
                li a {
                    width: 32.8px;
                    height: 32.8px; 
                    display: block;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
                li.footer__social-inst a {
                    background-image: url(../img/social-inst.svg);
                }
                li.footer__social-vk a {
                    background-image: url(../img/social-vk.svg);
                }
                li.footer__social-fb a {
                    background-image: url(../img/social-fb.svg);
                }
            }
        }
    }
    .footer__copyright {
        margin-top: 68px;
        height: 54px;
        background-color: #F7F6F9;
        .conteiner__footer__copyright {
            height: 100%;
            ul {
                display: flex;
                align-items: center;
                height: 100%;
                li {
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 22px;
                    display: flex;
                    align-items: center;
                    letter-spacing: 0.2px;
                    color: #737373;
                }
                li:not(:last-child) {
                    margin-right: 30px;
                }
            }
        }
    }
}

.about__page {
    background-color: #F7F6F9;
    .work {
        background-color: initial;
        .controll {
            top: -40px;
        }
    }
    .about {
        &__title {
            font-family: Open Sans;
            font-style: normal;
            font-weight: 600;
            font-size: 38px;
            line-height: 44px;
            color: #2D2661;
            text-align: center;
            margin-top: 100px;
            margin-bottom: 74px;
        }

        &__content:nth-child(odd) {
            .about__text{
                order: 2;
            }
        }

        &__content:not(:first-child) {
            margin-top: 70px;
        }

        &__content:last-child {
            margin-bottom: 170px;
        }
    
        &__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .about__text{
                max-width: 595px;
                p {
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 32px;
                    letter-spacing: 0.002em;
                }
                h2 {
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 32px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    letter-spacing: 0.2px;
                    color: #2D2661;
                    margin-bottom: 33px;
                }
            }
            .about__img {
                width: 100%;
                max-width: 625px;
            }
        }
    }
}

@media (max-width: 1590px) {
    .main {
        min-height: auto;
    }
}

@media (max-width: 1300px) {
    .about__page {
        .about {
            &__content:nth-child(odd) {
                .about__text{
                    order: 0;
                }
            }
    
            &__content {
                flex-direction: column;
            }
        }
    }
}

@media (max-width:1260px) {
    .header__right {
        margin: 0;
    }
    .container__form {
        flex-direction: column;
        padding: 40px;
    }
    .form .right__form {
        margin-bottom: 100px;
        width: auto !important;
    }
    .form__title {
        width: 550px;
    }
}

@media (max-width:1200px) {
    .header__right {
        margin: 0;
    }
}
@media (max-width:470px) {
    .basket .item__left {
        flex-direction: column;
    }
}

@media (max-width:350px) {
    .basket .general__price form {
        flex-direction: column;
        width: 100%;
        input {
            width: 100% !important;
        }
    }
    .basket .checkout__basket {
        width: 80% !important;
    }
    .basket__title {
        padding-top: 50px !important;
    }
    .basket .general__price .sum__price {
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.2px;
        color: #272727;
    }
}

@media (max-width:1085px) {
    li.header__nav {
        display: none !important;
    }
    .basket .general__price .sum__price {
        font-size: 20px;
    }
    .basket .item__price {
        margin-right: 50px !important;
    }
    .basket .item__right {
        justify-content: flex-end !important;
        width: 100% !important;
    }
    .basket .item {
        flex-direction: column;
    }
    .basket {
        padding-bottom: 50px !important;
    }
}

@media (max-width: 870px) {
    .container__header {
        margin: 0;
    }
    .header {
        height: auto;
        justify-content: flex-start;
    }
    .main .main__link {
        margin-top: 0;
    }
}

@media (max-width:1550px) {
    .header__nav {
        min-width: inherit !important;
    }
    .header {
        justify-content: flex-start !important;
    }
    .about__page .about__content:not(:first-child) {
        margin-top: 40px;
    }

    .about__page .about__title {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .about__page .about__content:last-child {
        margin-bottom: 100px;
    }
}

.basket {
    background: rgba(45, 38, 97, 0.04);
    padding-bottom: 190px;
    .container__basket {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__items {
        width: 100%;
    }
    &__title {
        padding-top: 134px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 38px;
        line-height: 44px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #2D2661;
        margin-bottom: 70px;
        margin-top: 0;
    }
    .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 60px 0;
        border-top: 1px solid #D9D9D9;
        border-bottom: 1px solid #D9D9D9;
        width: 100%;
        &__left{
            display: flex;
            align-items: center;
        }
        &__right{
            display: flex;
            align-items: center;
        }
        &__price {
            margin-right: 200px;
            font-family: Open Sans;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0.2px;
            color: #2D2661;
        }
        .delete__on__basket {
            background-image: url(../img/basket-delete.svg);
            border: 0;
            background-color: inherit;
            width: 55px;
            height: 55px;
            cursor: pointer;
        }
        &__title {
            font-family: Open Sans;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0.2px;
            color: #272727;
            margin-top: 0;
            margin-bottom: 30px;
        }
        &__size {
            margin-bottom: 10px;
        }
        &__size, &__style {
            font-family: Open Sans;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 32px;
            letter-spacing: 0.2px;
            color: #272727;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    .general__price {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-top: 40px;
        flex-direction: column;
        align-items: flex-end;
        form {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 61px;
        }
        .sum__price {
            margin-top: 0;
            margin-bottom: 90px;
        }
        input:first-child {
            background: #FFFFFF;
            border: 1px solid #ABA8C0;
            box-sizing: border-box;
            border-radius: 4px 0px 0px 4px;
            width: 180px;
            height: 44px;
            font-family: Open Sans;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 24px;
            letter-spacing: 0.2px;
            text-transform: uppercase;
            color: #737373;
        }
        input:last-child {
            width: 148px;
            height: 44px;
            background: #ABA8C0;
            font-family: Open Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 18px;
            text-align: center;
            letter-spacing: 0.3px;
            text-transform: uppercase;
            color: #F7F6F9;
            border: 0;
            cursor: pointer;
        }
    }
    .checkout__basket {
        width: 290px;
        height: 70px;
        left: 659px;
        background: #2D2661;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.3px;
        text-transform: uppercase;
        color: #FFFFFF;

    }
}


.services__title{
    margin-top: 0;
} 

@media (max-width: 700px) {
    .form__title {
        width: auto;
    }
    .main__title {
        width: auto;
        padding: 15px;
    }
    .main__text {
        display: none;
    }
    .services__title {
        padding-top: 50px;
        margin: 0;
        padding-bottom: 30px;
    }
    .advantages .cards {
        padding-bottom: 50px;
    }
    .services .cards {
        justify-content: center;
        padding-bottom: 50px;
    }
    .services .cards .card:not(:last-child) {
        margin-bottom: 25px;
    }
    .advantages .cards {
        justify-content: center;
    }
    .main__title {
        display: none;
    }

    .form .right__form {
        margin-right: 0;
        margin-left: 0;
        padding: 15px;
    }
    .right__info {
        flex-direction: column;
    }
    .container.conteiner__footer {
        flex-direction: column;
    }
    .main__info {
        width: auto;
    }
    .question__title {
        padding-top: 0;
        margin-top: 0;
    }
    .cards.services-slider.slick-initialized.slick-slider.slick-dotted {
        padding-bottom: 50px;
    }
    .question__answer {
        margin-bottom: 50px !important;
    }
    .form .form__title {
        margin-top: 0;
        padding-top: 20px;
    }
    .form .form__btn {
        width: 100% !important;
    }
    .conteiner__footer__copyright ul {
        flex-wrap: wrap;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .footer .left__info {
        margin-top: 50px !important;
    }
    .footer .right__info {
        margin-top: 0 !important;
        margin-right: 0 !important;
    } 
    .footer .footer__copyright {
        height: auto;
        margin-top: 0;
    }
    .footer .footer__company {
        width: 100%;
        margin: 0;
    }
    .form__title {
        font-size: 31px;
    }
    .question .item__title {
        font-size: 18px;
    }
    .work .controll {
        top: 77px;
        right: 10px;
    }
    .work .slick-track .card.slick-slide {
        margin-right:0;
    }
    .work .services__title {
        padding-top: 25px;
    }
    .work .services__title {
        padding-bottom: 50px;
    }
}